<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.filmplace"
    versionCode = "10"
    version     = "2.0.17" >

<!-- versionCode is optional and Android only -->

  <name>Film Place</name>

  <description>
Film Place mobile application is an application that helps producers and movie directors to easily locate a building or settings for their movie scene shooting.
  </description>

  <author href="https://filmplace.com" email="support@filmplace.com">
      O42 Media
  </author>
<platform name="ios" />
<platform name="android" />
<platform name="winphone" />
</widget>
